{% extends "params_base.jinja" %}
{% block api_params %}
{
    customer input not related to stock market. Politely request the customer to provide a more relevant question
}
### API notes: no.
{% endblock %}

(Background, maybe not necessary)
1. I graduated with a major in business communication in 2011. My initial work experience was mainly in data analysis. After four years of work, I did an MBA in Oxford with a focus on business analytics and started to learn coding and machine learning for more powerful data processing and predictive analysis. In 2017, while working on a project related to customer review for an e-commerce, I started to adopt NLP techniques such as NER, text classification and sentiment analysis. Coincidentally, that was also when the transformer model started to gain popularity. Since then, my focus has been on language models and deep learning in general.

(Bulk, most relevant)
Since 2018, I've been working as a machine learning engineer with a focus
on language models. I've done a lot of data processing, model training and application development for tasks such as NER, text classification, and AI customer service chatbots.
With the advent of LLMs since 2023, I have been focused on LLM training,
prompt engineering, RAG and agentic workflow application building.
Specifically, I've done model finetuning, Lora tuning, RLHF training on
various open source models, implemented llama2 and gpt2 from scratch, and
built several production-level AI chatbots with sophisticated intention
recognition, RAG and agentic workflows. As I mostly worked in small
to medium sized startup style companies, I usually take care of
developing and deploying the entire model service as a backend project.

( Finally, about my work style: )
1. I enjoy working in a startup environment where I can usually take
initiative and ownership of a complete project or function
module and demonstrate my visible impact.
2. As a lead machine learning engineer in my previous job, with the knowledge of what AI can and cannot do, I was many times acting partly as a product manager to design solutions to business problems. For example, in proposing the AI customer email replying system that eventually automated 80% of company's email tasks. I first identified the need and possibility, made a prototype with real data to convince colleagues that it's possible to fully automate email tasks. Then I was able to form and lead a project team, sat down with customer service staff regularly for domain knowledge input, and constantly came up with innovative solutions to adapt to evolving business needs.