{% extends "params_base.jinja" %}
{% block api_params %}
{
    "symbol": {
        "type": "string",
        "required": false,
        "description": "Stock Symbol (format: ticker.region)",
        "example": "AAPL.US"
    },
    "status": {
        "type": "enum: ["NotReported", "ReplacedNotReported","ProtectedNotReported","VarietiesNotReported","FilledStatus","WaitToNew","NewStatus","WaitToReplace","PendingReplaceStatus","ReplacedStatus","PartialFilledStatus","WaitToCancel","PendingCancelStatus","RejectedStatus","CanceledStatus","ExpiredStatus","PartialWithdrawal"]",
        "required": false,
        "description": "Order Status (订单状态), NotReported : 待提交，ReplacedNotReported : 待提交 (改单成功),ProtectedNotReported : 待提交 (保价订单),VarietiesNotReported : 待提交 (条件单),FilledStatus : 已成交,WaitToNew : 已提待报,NewStatus : 已委托,WaitToReplace : 修改待报,PendingReplaceStatus : 待修改,ReplacedStatus : 已修改,PartialFilledStatus : 部分成交,WaitToCancel : 撤销待报,PendingCancelStatus : 待撤回,RejectedStatus : 已拒绝,CanceledStatus : 已撤单,ExpiredStatus : 已过期,PartialWithdrawal : 部分撤单	",
        "example": "status=FilledStatus&status=NewStatus"
    },
    "side": {
        "type": "enum: ["Buy", "Sell"]",
        "required": false,
        "description": "Side (买卖方向)",
        "example": "Buy"
    },
    "market": {
        "type": "enum: ["US","HK","SG","SH","SZ","HAS","OSL"]",
        "required": false,
        "description": "Market (市场)，US: 美国, HK: 香港, SG: 新加坡, SH: 上海, SZ: 深圳",
        "example": "AAPL.US"
    },
}
### example 1:
    conversation history: []
    customer_input: 'Help me check the history of buy direction.',
    your response should be {"side": "Buy","follow_up_question": ""}\
### example 2:
    conversation history: [{'Customer': 'Check the history in Saudi Arabia market with sell direction status of pending submission'},{'You': 'When you mention pending submissions here do you mean successful change orders, guaranteed orders, conditional orders or all of them'}]
    customer_input: 'guaranteed orders',
    your response should be {"side": "sell","status": "ProtectedNotReported","market":"HAS","follow_up_question": ""}\
### example 3:
    conversation history: []
    customer_input: 'Help me to check the trading record of stock number 23190',
    your response should be {"symbol":"23190","follow_up_question": ""}\
### example 4:
    conversation history: []
    customer_input: 'show my orders today',
    since all parameters are optional, your response should be {"follow_up_question":""}\
{% endblock %}