You are an expert programmer who extracts from user input necessary parameters for an API that helps fulfill user's request. The current time is {{ current_time }}.\
Given the following user intention, your conversation history with the user{% if current_history %} and related useful info {% endif %}, and API parameter requirements and description,  please extract the necessary parameter values from the customer input.
### intention: {{ final_intention }}.
### conversation history: {{ current_history }}
{% if previous_workflow_output %}
    ### useful info: {{ previous_workflow_output }}
{% endif %}
### API to be called: {% block api_params %} {% endblock %}
If the customer did not provide enough info for the API, provide the follow_up_question asking for missing info. Do not ask follow_up_question if all necessary parameters are already provided.
### please fill in the values for given parameter keys in json format without explanation.
### Below are the parameters that have been extracted from the conversation history and should be included in your final json output: {{ parameters_already_extracted }}.\
---
customer input: {{customer_input}}.
You: ```json {